{% extends 'base.html' %}

{% block title %} Статистика {% endblock %}

{% block content %}

<table>
    <tr>
        <td>Средний возраст</td>
        <td>{{ all_info['age_mean'] }}</td>
    </tr>
    <tr>
        <td>Минимальный возраст</td>
        <td>{{ all_info['age_min'] }}</td>
    </tr>
    <tr>
        <td>Максимальный возраст</td>
        <td>{{ all_info['age_max'] }}</td>
    </tr>
    <tr>
        <td>Самый частый ответ на первый вопрос: </td>
        <td>{{ all_info["q1_freq_ans"] }}</td>
    </tr>
    <tr>
        <td>Столько человек дали такой ответ: </td>
        <td>{{ all_info["q1_freq"] }}</td>
    </tr>
    <img src="static/diagram.png">
</table>
{% endblock %}
